body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--blue-munsell); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
:root {
  --rock-black: #064168;
  --ming: #6b0b53;
  --blue-munsell: #620d6b;
  --pacific-blue: #62ccde;
  --gray-x11: #bbb4e9;
  --misty-rose: #3fbf26;
  --champagne-pink: #c6a9c4;
  --jet: #2b2a27;
}
nav {
  background: var(--blue-munsell);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 2px 2px 4px dimgrey;
  margin-bottom: 1em;
}

main {
  width: 90%;
  margin: auto;
}

a {
  color: var(--champagne-pink);
}
a:hover {
  color: var(--gray-x11);
  opacity: 0.9;
}
h4 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

table,
.log-details {
  width: 80%;
  margin: auto;
  background: var(--pacific-blue);
  padding: 1em 2em;
  border: 5px solid black;
  box-shadow: 4px 4px 8px dimgray;
}

td {
  text-align: center;
}

td a {
  color: var(--jet);
}

td a:hover {
  color: var(--rock-black);
}

tbody td:not(td:first-of-type):hover {
  transform: scale(1.05);
  opacity: 0.9;
}

tbody tr:nth-child(even) {
  background: var(--champagne-pink);
}

.New form {
  margin: auto;
  width: 95%;
}

input[type],
textarea {
  display: block;
  width: 90%;
  margin: auto;
}

input[type="checkbox"] {
  margin: 0;
  width: 15%;
}

input[type="submit"] {
  width: 30%;
}

.showNavigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  margin-top: 2em;
}

h6 span {
  font-weight: bold;
}

button {
  color: var(--jet);
  transition: all 0.3s linear;
}

button:hover {
  color: #2f2e2b;
  opacity: 0.9;
}

.show-button {
  width: 75px;
  height: 35px;
  border-radius: 5px;
  margin: 20px;
}
